.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

.content{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item img{
    width: 36vw;
}


.carouselP{
    font-size: 1.8rem;
    color: #212529; 
    width: 80%;
    margin-top: 4%;
}

.carouselH{
    font-size: 2.5rem;
}
.images{
    width: 36vw;
}

.carouselContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 1440px) {
    .content{
        width: 68vw;
    }

    .item img{
        width: 28vw;
        
    }
}


@media (max-width: 1005px){
    .item img{
        width: 36vw;
    }

}

@media (max-width: 750px){
    .item img{
        width: 49vw;
    }

    .images{
        width: 49vw;
    }
    


}

@media (max-width: 530px){
    .carouselContainer{
        width: 90vw;
    }

    .item img{
        width: 80vw;
    }

    .images{
        width: 80vw;
    }

    .content{
        width: 90vw;
    }

}

@media (max-width: 375px){
    .carouselH{
        font-size: 2.2rem;
    }
}