.container{
    width: 100vw;
    height: 50vh;
    background-color: #24201f;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content h2{
    font-size: 4rem;
    color: var(--grey-0);
}

.content h3, p{
    color: var(--grey-0);
}

.icon{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--grey-0);
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.iconSvg{
    color: #0dbe42;
}

.cardlist {
    display: flex;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}