.container{
    width: 100vw;
    height: 60vh;
    background-color: var(--cadet);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content h2{
    font-size: 4rem;
    color: var(--grey-0);
}

.content h3, p{
    color: var(--grey-0);
}

.content p{
    width: 80%;
}

.icon{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--orange);
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.iconSvg{
    color: var(--cadet);
}

.cardlist {
    display: flex;
    gap: 8px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.carouselContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCarousel{
    height: 30vh;
    
}

.iconCarousel{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--orange);
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1440px) {
    .content{
        width: 68vw;
    }
}

@media (max-width: 380px){
    .cardCarousel{
        height: 34vh;
    }
}