.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 10vh;
    background: transparent;
}

.content{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btnToggle{
    border-radius: 0.375rem;
    border: 1px rgba(0, 255, 255, 0.199) solid;
    padding: 2px 6px;
    background-color: rgba(0, 255, 255, 0.479);
    color: var(--grey-0);
}


@media (min-width: 1440px) {
    .content{
        width: 68vw;
    }
}

