.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--grey-0);
}

.content{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (min-width: 1440px) {
    .content{
        width: 68vw;
    }
}

