.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--grey-0);
}

.content{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


